<%- include("partials/header.ejs") %>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/1.jpg" class="d-block w-100 c1" alt="...">
      <div class="carousel-caption d-none d-md-block" style="bottom: 250px;">
        <h1 class="roboto-regular">Food Blogs</h1>
        <p class="roboto-regular">“So long as you have food in your mouth you have solved all questions for the time being.” “There is no sincere love than the love of food.” “If more of us valued food and cheer and song above hoarded gold, it would be a merrier world.” “I love you like a fat kid loves cake.”</p>
        <a href="/create"><button type="button" class="btn btn-warning roboto-regular">Create your own post</button></a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/2.jpg" class="d-block w-100 c1" alt="...">
      <div class="carousel-caption d-none d-md-block" style="bottom: 250px;">
        <h1 class="roboto-regular">Travel Blogs</h1>
        <p class="roboto-regular" >"Do you dream of travelling the world," "tasting delectable cuisines," "seeing picturesque views," "experiencing different cultures," "and meeting people from all walks of life?"</p>
        <a href="/create"><button type="button" class="btn btn-warning roboto-regular">Create your own post</button></a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/3.jpg" class="d-block w-100 c1" alt="...">
      <div class="carousel-caption d-none d-md-block" style="bottom: 250px;">
        <h1 class="roboto-regular">Automobile Blogs</h1>
        <p class="roboto-regular">"Whether you’re a die-hard car enthusiast, an aspiring gearhead," "or simply someone who appreciates the beauty and power of these machines," "Capture the essence of the automotive world." "So, fasten your seatbelt, and let’s take a ride"</p>
        <a href="/create"><button type="button" class="btn btn-warning roboto-regular">Create your own post</button></a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="c2">
  <div class="map">
    <img class="map-img" src="/images/map.png">
  </div>
  <div class="map-note roboto-regular">
    <h1>"Understanding your audience is the key to crafting content that resonates and engages. Connect with what matters to them, and watch your message thrive."</h1>
  </div>
</div>
<%- include("partials/footer.ejs") %>





